include mixins

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Ломбард Перспектива | Обратный звонок
    // Оригинальные стили и скрипты с сайта
    link(href="http://lombard-perspectiva.ru/themes/frontend/assets/css/lib/lightbox.min.css?v=1550053729" rel="stylesheet")
    link(href='http://lombard-perspectiva.ru/themes/frontend/assets/css/custom.min.css?v=1544612661' rel='stylesheet')
    link(href='http://lombard-perspectiva.ru/themes/frontend/assets/css/style.min.css?v=1568029013' rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet")
    script(src='http://lombard-perspectiva.ru/assets/a1f4c1c3/jquery.min.js?v=1463765083')
    // Оригинальные стили и скрипты с сайта
    // Стили и скрипты для попапа
    link(href='styles/style.css' rel='stylesheet')
    script(src='scripts/libs/jquery.inputmask.min.js')
    // Стили и скрипты для попапа

  body(style="background-color: rgba(79, 83, 96, .5);")
    +b.call-popup
      +e.SVG.close(width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M2 2L20 20M20 2L2 20" stroke-width="3")

      +e.P.title ОБРАТНЫЙ ЗВОНОК

      +e.FORM.form(action="#" method="post")
        +e.P.subtitle Как с вами связаться?
        +call-popup-tabs.__tabs

        +e.inputbox
          +e.INPUT.input(type="text" name="phone" required).form-control
          +e.P.country-code +7
          +call-popup-dropdown.__dropdown

        +e.LABEL.checkbox
          input(type="checkbox" name="agree" value="agree" required)
          span Я согласен с <a href="http://lombard-perspectiva.ru/article/politika-konfidentcialnosti/" target="_blank">политикой конфиденциальности</a>  и&nbsp;<a href="http://lombard-perspectiva.ru/upload/LP_terms.pdf" target="_blank">пользовательским соглашением</a>

        +e.button-wrapper
          +e.BUTTON.button(type="submit") Отправить

    // Old Popup
    .callback-form
      form(id="w22" class="callback-form popup popup--callback text-center" action="/" method="post" data-url="/site/ajax_callback_handler/" style="display: block;")
        input(type="hidden" name="_csrf" value="aWZpMGJ1eVkaNwtYVTtKA1xQMWonNC83MQIIHVs.OG0ECgN5NyQ9Fg==")
        div(class="popup__inner popup__inner_callback-form")
          button(class="popup__close" type="button")
          div(class="title") ОБРАТНЫЙ ЗВОНОК
          .popup__inner_callback-form__subtitle Как с вами связаться?
          +call-popup-tabs
          div(class="js-formList")
            div(class="js-feedbackSuccess")
            div(class="form-group field-feedback-user_email required")
              input(type="text" id="feedback-user_email" class="js-spam-email" name="Feedback[user_email]" placeholder="E-mail")
            .popup__inner_callback-form__inputbox
              input(type="tel" id="w23" class="form-control" name="Feedback[telephone]" maxlength="18" placeholder="Телефон" data-plugin-inputmask="inputmask_a55dd1dc")
              .popup__inner_callback-form__country-code +7
              +call-popup-dropdown
            div(class="form-group field-feedback-agree required")
              input(type="hidden" name="Feedback[agree]" value="0")
              input(type="checkbox" id="feedback-agree" name="Feedback[agree]" value="1")
              label(class="control-label" for="feedback-agree") Я согласен <a href="/article/politika-konfidentcialnosti/" target="_blank" style="text-decoration:underline">с политикой конфиденциальности</a>  и <a href="/upload/LP_terms.pdf" target="_blank" style="text-decoration:underline">пользовательским соглашением</a>
              div(class="help-block")
            div(class="form-group field-feedback-phone required")
             input(type="text" id="feedback-phone" class="js-spam-phone" name="Feedback[phone]" placeholder="Телефон")
            div(class="form-group field-feedback-feedback_type")
             label(class="control-label" for="feedback-feedback_type")
             input(type="hidden" id="feedback-feedback_type" class="form-control" name="Feedback[feedback_type]" value="1" maxlength="1")
             div(class="help-block")
            button(type="button" class="js-clear-online-spam-form-btn js-send-feedback-form-btn btn btn--outline popup__btn" onclick="ga('send', 'event', 'button', 'click', 'callbackclick '); yaCounter32655285.reachGoal('CALLBACKCLICK'); return true;") Отправить

    // Скрипты для попапа
    script(src='scripts/main.js')
    // Скрипты для попапа
